<div id="page-content">
  <div class="container mt-3 text-center">
    <div class="mt-4 bg-primary text-white rounded" id ="img">
      <h1 class="pt-5">Alpha Blog</h1>
      <p class='mt-5 p-4'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br>
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
        ex ea commodo consequat..</p>
      <%= link_to 'Sign up', signup_path, class:"btn btn-success btn-lg mt-4" %>
    </div>
  </div>
</div>
